.contenedor-principal{
    display: grid;
    grid-template-columns: 1fr 3fr; /* Columna delgada 1fr, columna gruesa 3fr */
    height: 100vh;
    width: 100vw;
    gap: 30px;
}
.contenedorp{
    padding: 5px;
width: 22vw;
background-color: white ;
margin-left: 50px;
border-radius:  10px ;
margin-bottom: 45px;
& h1{
    color: $color-secundario;
}
& h2{
    color: $color-gray;
    font-weight: 400;
    margin-left: 20px;
    
}
}
.secciones {
    display: flex;
    flex-wrap: wrap;
   width: 862px;
    gap: 30px; /* Espacio entre las secciones */
    padding: 20px;
    & h2{
        color: $color-secundario;
    }
}
.contenedor {
    width: 415px;
    padding: 20px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    
    flex: 1;
   
    & .inicial {
        display: flex;
    flex-direction: column;
    gap: 1px;

    }
    

}
.habilidad{
    display: flex;
    gap: 1px;
    
& p {
    margin: 4px;
    
    
flex: 1;
}
& progress {
    flex: 2;
    height: 1em;

    margin-left: 30px;
   
    
}
}



